/task/
/python/coparticipacao/faturas/2024/*.pdf
/python/coparticipacao/faturas/2024/faturas_totais/
/python/coparticipacao/faturas/2025/*.pdf
/python/coparticipacao/faturas/2025/faturas_totais/
.venv
/__pycache__/
